.game {
    height: 600px;

    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    aspect-ratio: 1;

    border: 5px solid;
}

.left {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 50px;
    align-items: flex-end;
}

.right {
    flex: 1;

    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: space-evenly;
}

.timer {
    width: 90px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);
    background-color: rgba(203, 162, 92, 0.8);
    text-decoration: none;
    border: none;
    border-radius: 10%;
    font-size: x-large;
}

.option {
    width: 90px;
    aspect-ratio: 1;

    color: rgb(0, 0, 0);
    background-color: rgba(203, 162, 92, 0.8);
    text-decoration: none;
    border: none;
    border-radius: 10%;
    font-size: medium;
}

.option:hover {
    background-color: rgb(203, 162, 92);
}
