.game{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 600px; */
    /* border: 3px solid green; */
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* aspect-ratio: 1; */
    border: 5px solid;
    /* height: 100%; */
}

.options ul{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    /* margin-left: 0px;
    height:400px;
    padding:0px; */
    border:3px solid green;
}

.option-button{
    color:rgb(0, 0, 0);
    background-color: rgba(203, 162, 92, 0.8);
    text-decoration: none;
    aspect-ratio: 1;
    width:100%; 
    border :none;
    border-radius: 10%;
}

.option-button:hover{
    background-color: rgb(203, 162, 92);
}

