.options {
    width: 500px;
    height: 150px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;

    /* border: 3px solid green; */
}

.option {
    height: 50%;
    aspect-ratio: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;
    background-color: rgba(203, 162, 92, 0.8);
    font-size: x-large;
    border: none;
    border-radius: 5%;
}

.link {
    height: 50%;
    aspect-ratio: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;
    background-color: rgba(203, 162, 92, 0.8);
    font-size: x-large;
    border: none;
    border-radius: 5%;
}

.option:hover {
    background-color: rgb(203, 162, 92);
}
