.navbar ul{
    list-style-type: none;
    background-color:  rgba(203, 162, 92, 0.8);
    padding: 0px;
    max-width:600px;
    margin: auto;
  }

  .homepageLink{
    color:black;
    height: 50px;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
    align-items: center;
  }

  .homepageLink:hover{
    background-color:  rgb(203, 162, 92);
  }
