.topbar ul{
    list-style-type: none;
    background-color: rgba(203, 162, 92, 0.8);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: fit-content;
}

.topbar_item{
    color:black;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 60px;
    display: block;
    text-align: center;
    align-items: center;
}

.topbar_item:hover{
    background-color: rgb(203, 162, 92); ;
}

.topbar li{
    float: left;
}