.game {
    height: 600px;

    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    aspect-ratio: 1;

    border: 10px solid;
    border-radius: 2%;
}

.left {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 50px;
    align-items: flex-end;
}

.right {
    flex: 1;

    width: 300px;

    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

    justify-content: space-evenly;
}

.options {
    flex: 1;
    width: 300px;
    aspect-ratio: 3/2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
}

.option {
    aspect-ratio: 1;
    width: 90px;
    justify-self: center;

    color: rgb(0, 0, 0);
    background-color: rgba(203, 162, 92, 0.8);
    text-decoration: none;
    border: none;
    border-radius: 10%;
    font-size: medium;
}

.option:hover {
    background-color: rgb(203, 162, 92);
    cursor: pointer;
}

.console {
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(203, 162, 92, 0.8);
    border-radius: 2%;
}

.message {
    font-size: large;
}

.promotion {
    /* flex: 1; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 80%;
    width: 85%;

    /* border: 3px solid red; */
}
